<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Get Category Sub-Categories </title>
</head>
<body>
    <h3> See Category Sub-Categories </h3>
    <form action="seeIVMReplEv" method="post">
        <p>Categ Name: <input type="text" name="categ_name" > </p>
        <p><input type="submit" value="Submit" > </p>
    </form>  

    <table border="10px" style="padding:10px">
        <thead>
            <tr>
                <th >
                    <a href="../appIVM.cgi/">Go Back</a>
                    <!-- É preciso mudar isto-->
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>