<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Insert new category </title>
</head>
<body>
    <h3> Insert new Category </h3>
    <form action="insert_categ" method="post">
        <p>Nome da Nova Categoria: <input type="text" name="new_categ" > </p>
        <p>
            É a Categoria Raíz? 
            <input type="checkbox"  value="Yes" name='new_categ_is_root' >
            <label>Sim</label> 
        </p>
        <p>
            Tem Categoria Mãe? 
            <input type="checkbox"  value="Yes" name='new_categ_has_mother' >
            <label>Sim</label> 
        </p>
        <p>
            Se tem Categoria Mãe, qual é? 
            <input type="text"  name="new_categ_mother" ></p>
        <p><input type="submit" value="Submit" > </p>
    </form>  

    {% if cursor %}
        <h4>Categorias</h4>
        <table border="2px">
            <thead>
                {% for record in cursor %}
                <tr>
                    <th>{{ record[0] }} </th>
                </tr>
                {% endfor %}
            </thead>
        </table>
    {% else %}
        <p> Erro: não foi possível obter dados da base de dados! </p>
    {% endif %}
    <p></p>
    <table border="10px" style="padding:10px">
        <thead>
            <tr>
                <th >
                    <a href="../appIVM.cgi/">Go Back</a>
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>