<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Remove category </title>
</head>
<body>
    <h3> Remover Retalhista </h3>
    <form action="remove_ret" method="post">
        <p>Retalhista (TIN): <input type="text" name="remove_ret_tin" > </p>
        <p><input type="submit" value="Submit" > </p>
    </form>  
    {% if cursor %}
        <h4>Exemplos de Retalhistas (TIN)</h4>
        <table border="2px">
            <thead>
                {% for record in cursor %}
                <tr>
                    <th>{{ record[0] }} </th>
                </tr>
                {% endfor %}
            </thead>
        </table>
    {% else %}
        <p> Erro: não foi possível obter dados da base de dados! </p>
    {% endif %}
    <p></p>
    <table border="10px" style="padding:10px">
        <thead>
            <tr>
                <th >
                    <a href="../app.cgi/">Go Back</a>
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>