<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IVMs - Main Page </title>
</head>
<body style="padding:20px">
    <h1> Main Page </h1>
    <div>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="get_insert_categ">Inserir Nova Categoria</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="get_remove_categ">Remover Categoria</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="get_insert_ret">Inserir Retalhista</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="get_remove_ret">Remover Retalhista</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="replenishment_events">See IVM's Replenishment Events</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="cat_sub_cats">See Category Sub-Categories</a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
