<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IVMs - Main Page </title>
</head>
<body style="padding:20px">
    <div>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="get_insert_categ">Insert Category</a>
                    </th>
                </tr>
            </thead>
        </table>
        <table border="10px" style="padding:10px; width:100%;">
            <thead>
                <tr>
                    <th >
                        <a href="get_remove_categ">Remove Category</a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
