<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Get IVM Replenishment Event </title>
</head>
<body>
    <h3> See IVM's Replenishment Events </h3>
    <form action="see_ivm_repl_evs" method="post">
        <p>IVM ID: <input type="text" name="num_serie" > </p>
        <p><input type="submit" value="Submit" > </p>
    </form>  

    <table border="10px" style="padding:10px">
        <thead>
            <tr>
                <th >
                    <a href="../appIVM.cgi/">Go Back</a>
                    <!-- É preciso mudar isto-->
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>