<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>List accounts - Flask </title>
</head>
<body style="padding:20px">
    <h3>Sub Categorias da Categoria {{ params.get("categ_name") }}</h3>
{% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Sub Categorias </th>
            </tr>
        </thead>
        <tbody>
        {% for record in cursor %}
            <tr>
                <td>{{ record[0] }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p>
    <table border="10px" style="padding:10px">
        <thead>
            <tr>
                <th >
                    <a href="../appIVM.cgi/">Go Back</a>
                </th>
            </tr>
        </thead>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados! </p>
{% endif %}
</body>
</html>