<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>List accounts - Flask </title>
</head>
<body style="padding:20px">
{% if subCategs %}
    <h3>Sub Categorias da Categoria {{ categ }}</h3>
    <table border="2px">
        <thead>
            <tr>
                <th>Sub Categorias </th>
            </tr>
        </thead>
        <tbody>
        {% for record in subCategs %}
            <tr>
                <td>{{ record }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if simple==0 %}
    <h3> Erro: não foi possível obter dados da base de dados! </h3>
    {% else %}
    <h3>{{ categ }} é Uma Categoria Simples. Não tem sub-categorias.</h3>
    {% endif %}
{% endif %}
    <p></p>
    <table border="10px" style="padding:10px">
        <thead>
            <tr>
                <th >
                    <a href="../app.cgi/">Voltar à Página Inicial</a>
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>