<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>List accounts - Flask </title>
</head>
<body style="padding:20px">
{% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Produto EAN </th>
                <th>Num Prateleira </th>
                <th>Num Serie IVM </th>
                <th>Fabricante </th>
                <th>Instante </th>
                <th>Unidades </th>
                <th>TIN </th>
            </tr>
        </thead>
        <tbody>
        {% for record in cursor %}
            <tr>
                <td>{{ record[0] }} </td>
                <td>{{ record[1] }} </td>
                <td>{{ record[2] }} </td>
                <td>{{ record[3] }} </td>
                <td>{{ record[4] }} </td>
                <td>{{ record[5] }} </td>
                <td>{{ record[6] }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p>
    <table border="10px" style="padding:10px; width:100%;">
        <thead>
            <tr>
                <th >
                    <a href="https://www.w3schools.com">See Replenishment Events by Category</a>
                </th>
            </tr>
        </thead>
    </table>
    <p></p>
    <table border="10px" style="padding:10px">
        <thead>
            <tr>
                <th >
                    <a href="../appIVM.cgi/">Go Back</a>
                    <!-- É preciso mudar isto-->
                </th>
            </tr>
        </thead>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados! </p>
{% endif %}
</body>
</html>



